## Excercise1

In [1]:
import numpy as np
import torch

Q1. Create a vector with values ranging from 10 to 49 (ex. 10, 11, ... 49) \

In [2]:
# write your code
np.arange(10, 50)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

Q2. Create a vector with values ranging from 49 to 10 (ex. 49, 48, ... 10)\

In [3]:
# write your code
np.arange(49, 9, -1)

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10])

Q3. Get the positions where elements of 'a' and 'b' match? (Hint: np.where)\
Input)\
a = np.array([1,2,3,2,3,4,3,4,5,6])\
b = np.array([7,2,10,2,7,4,9,4,9,8])\
Output\
=> array([1, 3, 5, 7])

In [4]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
ar = np.array([])
# write your code
ar = np.append(ar, np.where(a == b))
ar

array([1., 3., 5., 7.])

In [ ]:
(array([1, 3, 5, 7]),)

In [ ]:
a == b

array([False,  True, False,  True, False,  True, False,  True, False,
       False])

Q4. Remove Negative values in the array ‘b’ (HARD, Hint: np.where)\
Input: a = np.array((3, -2, 2, -1, 3))\
Output:\
=> [3, 2, 3]

In [5]:
a = np.array((3, -2, 2, -1, 3))



# write your code
arr = np.delete(a, np.where(a <0), axis=0)
arr

array([3, 2, 3])

## Exercise2

**Restriction**
- Convert it to pytorch tensor first. 
- Use only pytorch methods, not numpy.

Q1. Using reshaping and indexing, print out as follows:

Goal : \
`torch.Size([2, 2, 6]) \
tensor([18., 19., 20., 21.])`

In [6]:
t = np.arange(24)
ft = torch.FloatTensor(t)
### write your code (Hint : keep printing the shape and result so that you can see!)

ft =ft.view([-1, 2, 6])
print(ft.shape)
ft = ft.view([-1, 2, 3])
ft = ft[3, :]
ft = ft.view([-1, 3, 2])
ft = ft[:, :-1]
ft =ft.view([-1, 1, 4])
print(ft)

torch.Size([2, 2, 6])
tensor([[[18., 19., 20., 21.]]])

Q2. Add 1 to tensor A (Hint: Broadcast)\
Input: a = np.arange(9).reshape(3, 3)\
Output: \


```
tensor([[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]])
```

In [7]:
a = np.arange(9).reshape(3, 3)
ta = torch.FloatTensor(a)
# write your code

tb = torch.FloatTensor([1])
tc = ta + tb
print(tc)

tensor([[1., 2., 3.],
        [4., 5., 6.],
        [7., 8., 9.]])


Q3. Swap rows 1 and 2 in the array 'a’ at Q2(HARD)

![image.png]()

In [8]:
# write your code
a = np.arange(9).reshape(3, 3)
ta = torch.FloatTensor(a)

tmp1 = ta[0, :]
tmp2 = ta[1, :]
tmp3 = ta[2, :]

c = torch.cat((tmp2, tmp1, tmp3), 0)
c = c.view([-1, 3, 3])
print(c)

tensor([[[3., 4., 5.],
         [0., 1., 2.],
         [6., 7., 8.]]])